{% extends 'base.html.twig' %}

{% block menu %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('addAction') }}">{{'Ajouter un article' | trans}}</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {% block articles %}
    {% endblock %}
    <h5 style="margin-left: 15px; margin-top: 15px">{% block slogan %} {{'Mon super blog symfony' | trans}} {% endblock %}</h5>
{% endblock %}